# Elrond IDE
**/node_modules
**/output/**
**/testnet/**
**/wallets/**
**/erdpy.data-storage.json
**/*.interaction.json

# Target
/target

# VSCode
.vscode

wallet.json

# Include ABI files in repo
!**/output/*.abi.json
